.garage-list .garage {
  display: block;
  color: inherit;
  text-decoration: none;
}

  .garage-list .garage:hover {
    color: inherit;
    text-decoration: none;
  }

  .garage-list .garage .panel-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.garage-details aside {
  margin-top: -15px;
}

  .garage-details aside .aligned-row {
    display: inline-block;
  }

  .garage-details aside .aligned-row + .aligned-row {
    margin-left: 32px;
  }

  .garage-details aside .btn span {
    margin-left: 0;
  }

  .garage-details aside .btn .glyphicon {
    margin-top: -2px;
  }

.light {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #ccc;
  border-radius: 50%;
}

  .light.green {
    background-color: #5cb85c;
    animation: pulse-green 2s infinite;
  }

  .light.red {
    background-color: #d9534f;
    animation: pulse-red 2s infinite;
  }

.aligned-row {
  display: block;
}

  .aligned-row:not(:first-child) {
    margin-top: 15px;
  }

  .aligned-row > * {
    vertical-align: middle;
  }

  .aligned-row > * + * {
    margin-left: 15px;
  }

.text-faded {
  color: #888;
}

.padding-vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}

map {
  display: block;
  padding-top: 75%;
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(92, 184, 92, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(217, 83, 79, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(217, 83, 79, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(217, 83, 79, 0);
  }
}
